.main-header-info {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #dcfaaf;
}

.main-header-info__block {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.main-header-info-block__logo {
  display: inline-block;
  img {
    display: none;
    width: 150px;
  }
}

.main-header-info-block__number {
  span {
    display: block;
    color: #8ca566;
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 400;
  }
  b {
    color: #181818;
    font-family: "PT Sans";
    font-size: 33px;
    font-weight: 700;
  }
}

.main-header-info-block__info {
  display: flex;
  align-items: center;
  max-width: 205px;
  img {
    display: block;
    margin-right: 10px;
  }
  span {
    display: block;
    margin-bottom: 5px;
    color: #8ca566;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
  }
  b {
    color: #181818;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 700;
  }
  p {
    margin: 0;
  }
  color: #181818;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
}

.main-header-info-block__call {
  display: block;
  margin-bottom: 7px;
  color: #8ca566;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  text-align: right;
  a {
    display: block;
    color: #ff9800;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.main-slider-content {
  position: absolute;
  top: 20px;
  right: 20%;
  text-align: center;
  max-width: 380px;
  span {
    display: block;
    margin-bottom: 10px;
    color: #181818;
    font-family: "PT Sans";
    font-size: 20px;
    font-weight: 700;
  }
  p {
    color: #181818;
    font-family: "PT Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
  }
}

.main-slider-form {
  display: block;
  width: 100%;
  padding: 20px;
  background-color: #1c242a;
  background-image: linear-gradient(to top, #8cbf41 0%, #90d32e 100%);
  border: 1px solid #69a411;
  border-radius: 9px;
  span {
    display: block;
    margin-bottom: 15px;
    text-shadow: 0.5px 0.9px 1px #538c00;
    color: white;
    font-family: "PT Sans";
    font-size: 20px;
    font-weight: 400;
  }
  input {
    width: 100%;
    margin-bottom: 10px;
    padding: 14px 10px;
    background-color: white;
    border: 1px solid #649916;
    color: #181818;
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 400;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: #181818;
    }
  }
  input[type='submit'] {
    padding: 16px 40px;
    background-color: #ff9800;
    border: 1px solid #e38905;
    text-shadow: 0.5px 0.9px 1px #ffb400;
    color: #181818;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 700;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: #27aae0;
      background-color: #27aae0;
    }
  }
}

.home-features {
  padding-top: 50px;
  background-color: #ebffcc;
}

.main-title {
  text-align: center;
  span {
    display: block;
    color: #181818;
    font-family: "PT Sans";
    font-size: 48px;
    font-weight: 400;
  }
  hr {
    display: block;
    max-width: 115px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-top: 2px solid #8cbf41;
  }
}

.home-features-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.home-features-card {
  display: inline-flex;
  flex-flow: column wrap;
  align-items: center;
  min-width: 260px;
  max-width: 285px;
  min-height: 160px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 60px;
  text-align: center;
  img {
    display: block;
    max-width: 100%;
    margin-bottom: 25px;
  }
  span {
    display: block;
    color: #181818;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 400;
  }
}

.home-workers {
  padding-top: 60px;
  padding-bottom: 80px;
  background-image: url('../images/worker_bg.png');
  background-position-y: 0;
  background-position-x: -30%;
  background-repeat: no-repeat;
  text-align: center;
}

.home-workers-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.home-workers-card {
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
  img {
    display: block;
    max-width: 100%;
    margin-bottom: 30px;
  }
  span {
    font-family: "PT Sans";
    font-size: 24px;
    font-weight: 400;
    color: #181818;
  }
  .home-workers-card_spec {
    color: #c2c2c2;
  }
}

.main-btn {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 60px;
  background-color: #ff9800;
  border: 1px solid #e38905;
  text-shadow: 0.5px 0.9px 1px #ffb400;
  color: #181818;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  transition: all 0.2s ease-out;
  &:hover,
  &:active,
  &:focus {
    border-color: #27aae0;
    background-color: #27aae0;
    text-decoration: none;
  }
}

.home-choose {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #edf4fe;
  text-align: center;
}

.home-choose-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.home-choose-card {
  display: inline-flex;
  flex-flow: column wrap;
  align-items: center;
  min-height: 190px;
  width: 240px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 80px;
  text-align: center;
  transition: all 0.2s ease-out;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    img {
      transform: rotate(360deg);
    }
    span {
      text-decoration: none;
    }
  }
  img {
    display: block;
    max-width: 100%;
    margin-bottom: 40px;
    width: 80px;
    height: 80px;
    object-fit: contain;
    transition: all 0.5s ease-out;
  }
  span {
    max-width: 240px;
    color: #181818;
    font-family: "PT Sans";
    font-size: 24px;
    font-weight: 400;
    text-decoration: underline;
    transition: all 0.2s ease-out;
  }
}

.home-gallery {
  padding-top: 60px;
  padding-bottom: 120px;
}

.home-gallery-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.home-gallery-card {
  display: inline-block;
  img {
    display: block;
    width: 282px;
    height: 283px;
    object-fit: cover;
    transition: all 0.2s ease-out;
    &:hover {
      filter: brightness(80%);
    }
  }
}

.home-racall {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url('../images/main_slider.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.home-racall__title {
  display: block;
  margin-bottom: 40px;
  color: #181818;
  font-family: "PT Sans";
  font-size: 48px;
  font-weight: 400;
}

.home-racall-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  input {
    width: 280px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 14px 10px;
    background-color: white;
    border: 1px solid #649916;
    color: #181818;
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 400;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: #181818;
    }
  }
  input[type='submit'] {
    padding: 14px 40px;
    background-color: #ff9800;
    border: 1px solid #e38905;
    text-shadow: 0.5px 0.9px 1px #ffb400;
    color: #181818;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 700;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: #27aae0;
      background-color: #27aae0;
    }
  }
}

.home-about {
  padding-top: 60px;
  padding-bottom: 60px;
}

.home-about-text {
  color: #181818;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  img {
    display: block;
    max-width: 100%;
    padding-right: 20px;
  }
  p {
    display: block;
    margin-bottom: 30px;
  }
}

.home-big {
  padding-top: 60px;
  padding-bottom: 40px;
  background-image: url('../images/sky_bg.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-position-y: top;
  text-align: center;
}

.home-reviews-card {
  min-height: 305px;
  margin-top: 50px;
  padding: 50px;
  background-color: white;
  border: 5px solid #d2e1f9;
  img {
    display: block;
    margin: -100px auto 25px;
    width: 95px;
    height: 95px;
    border-radius: 500px;
    object-fit: cover;
    z-index: 99;
  }
  span {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    color: #181818;
    font-family: "PT Sans";
    font-size: 24px;
    font-weight: 400;
  }
  p {
    color: #181818;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
  }
}

.home-big-slider {
  width: 755px;
  margin: 0 auto 40px;
}

.main-btn_m-lg {
  margin-bottom: 100px;
}

.home-big-news {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.home-big-news-card {
  display: block;
  max-width: 310px;
  margin-bottom: 30px;
  text-align: left;
  span {
    display: block;
    margin-bottom: 30px;
    color: #181818;
    font-family: "PT Sans";
    font-size: 24px;
    font-weight: 400;
  }
  p {
    font-family: "PT Sans";
    font-size: 18px;
    color: #181818;
    font-weight: 400;
  }
  a {
    display: inline-block;
    margin-top: 20px;
    font-family: "PT Sans";
    font-size: 18px;
    color: #ff9800;
    font-weight: 700;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      color: #27aae0;
    }
  }
}

.main-footer-nav {
  display: flex;
  margin: 0;
  padding: 0;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #2b2929;
  list-style: none;
  li {
    a {
      display: inline-block;
      padding: 14px 30px;
      color: white;
      font-family: "PT Sans";
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        color: #69a411;
      }
    }
  }
}

.main-footer-info {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #312f2f;
}

.main-footer-info-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.main-footer-info__logo {
  img {
    display: block;
    max-width: 100%;
  }
}

.main-footer-info__info {
  display: flex;
  align-items: center;
  max-width: 205px;
  img {
    display: block;
    margin-right: 10px;
  }
  span {
    display: block;
    margin-bottom: 5px;
    color: white;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
  }
  p {
    margin-bottom: 0;
    color: white;
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 400;
  }
  b {
    color: white;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 700;
  }
}

.main-footer-info__recall {
  span {
    display: block;
    margin-bottom: 10px;
    color: gainsboro;
    font-family: "PT Sans";
    font-size: 33px;
    font-weight: 700;
  }
  a {
    display: inline-block;
    padding: 16px 65px;
    background-color: #ff9800;
    border: 1px solid #e38905;
    text-shadow: 0.5px 0.9px 1px #ffb400;
    color: #181818;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 700;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: #27aae0;
      background-color: #27aae0;
      text-decoration: none;
    }
  }
}

.main-footer-creators {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #1f1d1d;
  transition: all 0.2s ease-out;
  img {
    display: inline-block;
    transition: all 1s ease-in-out;
  }
  a {
    display: inline-block;
    max-width: 230px;
    color: white;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 300;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e38905;
      text-decoration: underline;
    }
  }
  &:hover {
    background-color: #312f2f;
    img {
      transform: rotate(1800deg);
    }
  }
}

.main-content {
  padding-top: 60px;
  padding-bottom: 100px;
  background-color: #ebffcc;
}

.main-content_l-p {
  padding-left: 30px;
}

.main-slider__title {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  color: #181818;
  font-family: "PT Sans";
  font-size: 22px;
  font-weight: 700;
}

.main-sidebar {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #8cbf41;
  border: 1px solid #69a411;
  border-radius: 8px;
  list-style: none;
  li {
    a {
      display: block;
      padding: 12px 16px;
      background-color: #8cbf41;
      transition: all 0.2s ease-out;
      color: white;
      font-family: "PT Sans";
      font-size: 18px;
      font-weight: 700;
      &:hover,
      &:active,
      &:focus {
        background-color: #ff9800;
        color: #181818;
        text-decoration: none;
      }
    }
  }
}

.main-breadcrump {
  display: inline-block;
  margin-bottom: 15px;
  opacity: 0.4;
  color: #8cbf41;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  transition: all 0.2s ease-out;
  &:hover {
    opacity: 1;
  }
  a {
    color: #8cbf41;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    transition: all 0.2s ease-out;
  }
}

.main-description {
  margin-bottom: 40px;
  color: #181818;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.categories-choose-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.categories-choose-card {
  display: inline-flex;
  flex-flow: column wrap;
  align-items: center;
  min-height: 190px;
  width: 230px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 80px;
  text-align: center;
  transition: all 0.2s ease-out;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    img {
      transform: rotate(360deg);
    }
    span {
      text-decoration: none;
    }
  }
  img {
    display: block;
    max-width: 100%;
    margin-bottom: 40px;
    width: 80px;
    height: 80px;
    object-fit: contain;
    transition: all 0.5s ease-out;
  }
  span {
    max-width: 240px;
    color: #181818;
    font-family: "PT Sans";
    font-size: 24px;
    font-weight: 400;
    text-decoration: underline;
    transition: all 0.2s ease-out;
  }
}

.category-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.category-card {
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  max-width: 260px;
  margin-bottom: 60px;
  img {
    display: block;
    width: 100%;
    height: 260px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  span {
    display: block;
    margin-bottom: 30px;
    color: #181818;
    font-family: "PT Sans";
    font-size: 20px;
    font-weight: 400;
    height: 55px;
    overflow: hidden;
  }
  a {
    display: block;
    width: 100%;
    padding: 12px 20px;
    background-color: #ff9800;
    border: 1px solid #e38905;
    text-shadow: 0.5px 0.9px 1px #ffb400;
    color: #181818;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: #27aae0;
      background-color: #27aae0;
      text-decoration: none;
    }
  }
}

.about-article {
  color: #181818;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  img {
    display: inline-block;
    padding-right: 10px;
    padding-bottom: 20px;
    max-width: 100%;
  }
  p {
    margin-bottom: 20px;
  }
  .about-article_info {
    display: block;
    width: 100%;
    padding: 20px 30px;
    background-color: #edf4fe;
    color: #181818;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #181818;
    font-family: "PT Sans";
    font-weight: 400;
    text-align: center;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 24px;
  }
}

.feature-info {
  padding-left: 30px;
  color: #181818;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  p {
    margin-bottom: 30px;
  }
  hr {
    display: block;
    margin-top: 40px;
    margin-bottom: 15px;
    border-top: 2px solid #8cbf41;
  }
}

.feature-info-buy {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  color: #181818;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  span {
    display: block;
    color: #8cbf41;
    font-family: "PT Sans";
    font-size: 24px;
    font-weight: 400;
    span {
      display: inline-block;
    }
  }
  a {
    display: inline-block;
    padding: 12px 70px;
    background-color: #ff9800;
    border: 1px solid #e38905;
    text-align: center;
    text-shadow: 0.5px 0.9px 1px #ffb400;
    color: #181818;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 700;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: #27aae0;
      background-color: #27aae0;
      text-decoration: none;
    }
  }
}

.feature-info-buy_price {
  font-size: 36px !important;
  font-weight: 700 !important;
}

.feature-description {
  color: #181818;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  p {
    margin-bottom: 30px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    text-align: center;
    color: #181818;
    font-family: "PT Sans";
    font-weight: 400;
  }
  h2 {
    font-size: 36px;
  }
}

.news-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #8cbf41;
  img {
    display: block;
    margin-right: 30px;
    width: 360px;
    height: 200px;
    border-radius: 8px;
  }
  span {
    display: block;
    margin-bottom: 10px;
    color: #181818;
    font-family: "PT Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
  }
  p {
    margin-bottom: 20px;
    font-family: "PT Sans";
    font-size: 18px;
    color: #181818;
    font-weight: 400;
  }
  a {
    display: block;
    font-family: "PT Sans";
    font-size: 18px;
    color: #ff9800;
    font-weight: 700;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #27aae0;
      text-decoration: none;
    }
  }
}

.main-pagintation {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color: #181818;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  a {
    color: #181818;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 700;
  }
}

.main-pagintation-next-prev {
  color: #181818;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
  transition: all 0.2s ease-out;
  &:hover,
  &:active,
  &:focus {
    color: #ffab00;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
  }
}

.main-pagintation-numb {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  margin-right: 30px;
  list-style: none;
  li {
    a {
      display: inline-block;
      margin-left: 3px;
      margin-right: 3px;
      padding: 5px 7px;
      background-color: #c9c9c9;
      border-radius: 1px;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        background-color: #8cbf41;
        background-image: linear-gradient(to top, #ff9800 0%, #ff9c00 1%, #ffae00 100%);
        border-radius: 1px;
        text-decoration: none;
      }
    }
  }
}

.main-pagintation-numb_dots {
  background-color: transparent !important;
}

.main-pagintation-numb_active {
  background-color: #8cbf41;
  background-image: linear-gradient(to top, #ff9800 0%, #ff9c00 1%, #ffae00 100%);
  border-radius: 1px;
}