@media (max-width: 1200px) {}

@media (max-width: 992px) {
  .carousel-caption {
    img {
      display: block;
      max-width: 100%;
    }
    .main-slider-content {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .main-header-info__block {
    flex-flow: column wrap;
    justify-content: space-around;
    text-align: center;
  }
  .main-header-info-block__call {
    text-align: center;
  }
  .main-header-info-block__info {
    margin-bottom: 10px;
  }
  .main-header-info-block__info span {
    margin: 0;
  }
  .navbar-nav {
    flex-flow: column wrap;
    justify-content: center;
  }
  .navbar-default .navbar-nav>li>a {
    display: block;
    text-align: center;
  }
  .home-features {
    padding: 20px;
  }
  .main-title {
    span {
      font-size: 24px;
      line-height: 1;
      text-align: center;
    }
    hr {
      margin: 20px auto;
    }
  }
  .home-features-cards {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .home-features-card {
    height: auto;
    min-height: auto;
    min-width: auto;
    margin-bottom: 20px;
    img {
      margin-bottom: 10px;
    }
  }
  .home-workers {
    padding: 20px;
    background: white;
  }
  .home-workers-card {
    margin-bottom: 20px;
    img {
      margin-bottom: 10px;
    }
  }
  .home-choose {
    padding: 20px;
  }
  .home-choose-cards {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .home-choose-card {
    min-height: auto;
    width: auto;
    margin: 0;
    margin-bottom: 20px;
    img {
      margin-bottom: 10px;
    }
  }
  .home-gallery {
    padding: 20px;
  }
  .home-big-slider {
    width: 100%;
  }
  .owl-prev {
    margin-left: 0px !important;
  }
  .owl-next {
    margin-right: 0px !important;
  }
  .home-big {
    padding: 20px;
  }
  .main-btn_m-lg {
    margin-bottom: 20px;
  }
  .home-big-news-card span {
    margin-bottom: 10px;
  }
  .home-big-news-card a {
    margin-top: 10px;
  }
  .home-racall {
    padding: 20px;
  }
  .home-racall__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1;
    text-align: center;
  }
  .home-about {
    padding: 20px;
  }
  .main-footer-nav {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .main-footer-info-content {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .main-footer-info__info span {
    margin: 0;
  }
  .main-footer-info__info {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .main-footer-nav li a {
    line-height: 1.2;
  }
  .main-header-info-block__number b {
    font-size: 20px;
  }
  .categories-choose-cards {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .categories-choose-card {
    min-height: auto;
    width: auto;
    margin: 0;
    margin-bottom: 20px;
    img {
      margin-bottom: 10px;
    }
  }
  .main-content {
    padding: 20px;
  }
  .main-content_l-p {
    padding: 0;
  }
  .main-breadcrump {
    margin-top: 10px;
  }
  .category-cards {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .category-card {
    margin-bottom: 30px;
    img {
      margin-bottom: 10px;
    }
    span {
      margin-bottom: 10px;
    }
  }
  .feature-info {
    padding: 0;
  }
  .feature-info-buy {
    justify-content: space-around;
  }
  .news-card {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    img {
      margin: 0;
      margin-bottom: 10px;
      max-width: 100%;
    }
  }
  .main-pagintation {
    justify-content: space-around;
    text-align: center;
  }
  .main-pagintation-numb {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .main-header-info-block__logo {
    img {
      display: inline-block;
    }
  }
  .main-slider-content {
    width: 80%;
    left: 11.5%;
    right: 8.5%;
  }
  #myCarousel {
    .carousel-inner>.item>img,
    .carousel-inner>.item>a>img {
      min-height: 440px;
    }
    .carousel-indicators {
      display: none;
    }
    .carousel-control {
      display: none;
    }
    .carousel-control.left {
      display: none;
    }
    .carousel-control.right {
      display: none;
    }
    .carousel-caption {
      display: none;
    }
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}