.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  width: 100%;
  min-height: 420px;
  object-fit: cover;
}

.carousel-inner {
  position: relative;
}

.carousel-caption {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  top: 0;
  left: 10%;
  right: 10%;
  bottom: auto;
  font-family: "PT Sans";
  font-size: 22px;
  color: #181818;
  font-weight: 400;
  line-height: 1;
  text-shadow: none;
}

.carousel-control.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-indicators li {
  border: 3px solid #fff;
  background-color: white;
}

.carousel-indicators .active {
  background-color: #ff9800;
}

.navbar-default {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  background-color: #8cbf41;
  background-image: linear-gradient(to top, #ff9800 0%, #ff9c00 1%, #ffae00 100%);
}

.navbar-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  float: none;
}

.nav>li>a {
  color: #0f0f0f;
  font-family: "PT Sans";
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
  color: #0f0f0f;
  font-family: "PT Sans";
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.dropdown-menu {
  background-color: #ffae00;
  box-shadow: none;
  border: none;
  padding: 0;
}

.dropdown-menu>li>a {
  padding: 12px 20px;
  color: #0f0f0f;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  &:hover {
    background-color: #ff9800;
  }
}

.owl-theme .owl-controls {
  width: 100%;
  position: absolute;
  top: 45%;
  .owl-buttons {
    display: flex;
    justify-content: space-between;
  }
}

.owl-theme .owl-controls .owl-buttons div {
  background-color: transparent;
  opacity: 0.9;
}

.owl-prev {
  margin-left: -25px !important;
}

.owl-next {
  margin-right: -25px !important;
}

.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

#sync1 .item {
  background: #f4f4f4;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s ease-out;
  img {
    display: block;
    width: 100%;
    height: 260px;
    margin-bottom: 3px;
    object-fit: cover;
  }
}

#sync2 .item {
  background: #f4f4f4;
  margin: 3px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  img {
    display: block;
    width: 100%;
    height: 60px;
    object-fit: cover;
    border: 2px solid transparent;
  }
}

#sync2 .synced .item {
  img {
    border-color: #8cbf41;
  }
}

.owl-feature {
  .owl-theme .owl-controls {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    .owl-buttons {
      display: flex;
      justify-content: center;
    }
  }
  .owl-theme .owl-controls .owl-buttons div {
    background-color: transparent;
    opacity: 0.9;
  }
  .owl-prev {
    margin-left: -40px !important;
  }
  .owl-next {
    margin-right: -40px !important;
  }
}

table {
  color: #1f1f1f;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

thead {
  background-color: #8cbf41;
  border: 1px solid #d0d1d2;
  color: #181818;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
}