body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'PT Sans', sans-serif;
}

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/owl/owl-carousel/_owl.carousel.scss";
@import "bower_components/owl/owl-carousel/_owl.theme.scss";
@import "bower_components/owl/owl-carousel/_owl.transitions.scss";
@import "bower_components/lightbox2/dist/css/_lightbox.scss";
// endbower
@import "_atoms.scss";
@import "_restyle.scss";
@import "_responsive.scss";